---
import ProductCard from "@/components/ProductCard.astro";
import { getCollection } from 'astro:content';

const products = await getCollection('products');
const category = Astro.props.category;
---

<div class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4 w-full">
  {
    products.filter((product) => !category || product.data.category === category).map(({data}) => (
      <ProductCard name={data.name} desc={data.desc} price={data.price} id={data.id} category={data.category} />
    ))
  }
</div>
